{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Create Post</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <style>
        body {
            padding-top: 50px;
            background-color: #f8f9fa;
        }
        .form-container {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            margin-bottom: 20px;
        }
        h1 {
            margin-bottom: 30px;
        }
        .form-control {
            border-radius: 5px;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h1>Create a New Post</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_title">Title:</label>
                    <div></div>
                    {{ form.title }}
                </div>
                <div class="form-group">
                    <label for="id_content">Content:</label>
                    <div></div>
                    {{ form.content }}
                </div>
                <div class="form-group">
                    <label for="id_type">Type:</label>
                    <div></div>
                    {{ form.type }}
                </div>
                <div class="form-group">
                    <label for="id_image">Image:</label>
                    <div></div>
                    {{ form.image }}
                </div>
                <button type="submit" class="btn btn-primary mt-1">Create Post</button>
            </form>
        </div>
        <form method="post" action="{% url 'account_home' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary mt-3 mb-2">Profile</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#id_type').select2();  // Initialize Select2 on the type dropdown
        });
    </script>
</body>
</html>
